@import "tailwindcss";

:root {
  --background: #252420d7;
--foreground: #e8e6e1;
--muted: #999894;
--muted-light: #65635f;
--border:#33302a;
--card: #242320e7;
--accent: #e2daca;
--label: #65635f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-light: var(--muted-light);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}